@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#main{ 
    color: white;
    height: 30px;
    background-color: hsl(211, 67%, 21%);
    text-align: center;
    font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  text-decoration: underline ;
}

.box{
    background-color: rgba(0, 255, 64, 0.555);
    height: 120px;
    width: 250px;
    text-align: center;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    
}

.box2{
    background-color: rgba(255, 230, 0, 0.555);
    font-weight: bold;
    height: 100px;
    width: 250px;
    text-align: center;
    text-transform: lowercase;
    font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-decoration:double underline red;
}
.box3{
    background-color: rgba(91, 55, 133, 0.74);
    font-weight: bold;
    height: 100px;
    width: 250px;
    text-align: center;
    text-decoration: line-through dotted white;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
